<% @page_title = 'Staff Menu' -%>

<ul class="menu">
	
	<li><%= link_to('Manage Courses', :controller => 'courses') %></li>
	<li><%= link_to('View Courses', :controller => 'main') %></li>
	<li><%= link_to('Manage Categories', :controller => 'categories') %></li>
	<li><%= link_to('Manage Students', :controller => 'students') %></li>
	<li><%= link_to('Manage Users', :controller => 'users') %></li>
	<li><%= link_to('Logout', :action => 'logout') %></li>
</ul>

