<% @page_title = 'New Course' -%>

<%= content_tag('p', link_to('&laquo; Back', :action => 'list')) %>

<% form_tag(:action => 'create') do -%>
	<%= render(:partial => 'form') %>
	<%= submit_tag("Create", :style => "margin: 1.5em 0 0 100px;") %>
<% end -%>
